<html>
    <body>
      <div class="erros">
        <%if(errosValidacao){%>
          <ul>
          <%for(var i=0;i<errosValidacao.length;i++){ %>
            <li><%=errosValidacao[i].param%> - <%=errosValidacao[i].msg%></li>
          <%}%>
          </ul>
        <%}%>
      </div>
        <form action="/produtos" method="post">
            <div>
                <label for="titulo">Titulo</label>
                <input type="text" id="titulo" name="titulo" value="<%=produto.titulo%>" placeholder="coloque o titulo"/>
            </div>
            <div>
                <label for="preco">Preço</label>
                <input type="text" id="preco" name="preco" value="<%=produto.preco%>" placeholder="coloque o preço"/>
            </div>
            <div>
                <label for="descricao">Descrição</label>
                <textarea
                  id="descricao"
                  cols="30"
                  rows="5"
                  name="descricao"
                  placeholder="coloque o descricao"><%=produto.descricao%></textarea>
            </div>

            <input type="submit" value="gravar"/>
        </form>
    </body>
</html>
